.about_c {
  padding-top: 20%;
  display: flex;
  width: 100%;
  background-image: url('../assets/arena.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.about_c > div > h1, .about_c > div > p {
  width: 65%;
  margin-left: 15%;
}

.about_c > div > h1 {
  text-align: left;
}

.about_c > #pic {
  width: 80%;
  height: 614px;
}

#pic img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: -950px;
  z-index: 1;
}

.about_highlight {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #555150;
}

strong {
  background-color: #555150;
  padding: 3px;
  color: white;
}

@media (max-width: 767px) {
  .about_c {
    flex-wrap: wrap;
  }
  .about_c > #pic {
    width: 100%;
  }
  #about_info > div {
    width: 100% !important;
  }
}

@media (max-width: 1023px) {
  .about_c {
    flex-wrap: wrap;
  }
  .about_c > #pic {
    width: 100%;
  }
}