.wrapper{
    display: flex;
}

.accordion{
    display: flex;
    width: 100%;
}

.item{
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 33.33%;
}

.title{
    color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: orange;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}


.content-show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
