.wrapper{
    display: flex;
}

.accordion{
    display: flex;
    width: 100%;
    margin-top: 10%;
}

.item{
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 33.33%;
}

.title{
    color: #555150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@keyframes opacity-off {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes opacity-on {
    from {opacity: 0}
    to {opacity: 1}
}

.content {  
    animation-name: opacity-off; 
    opacity: 0;
}

.content-show{  
    animation-name: opacity-on;
    opacity: 1;
}

.content, .content-show {
    background-color: rgb(0, 160, 136);
    position: absolute;
    width: 220px;
    animation-duration: 1s;
    border-radius: 5px;
    z-index: 1;
    border: 2px solid #555150;
    padding: 0px 2px;
}

.content p, .content-show p {
    font-size: 1.2rem;
    font-weight: bold;
    color: black; 
}

.title span {
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 767.98px) {
    .content, .content-show {
        right: 20%;
    }
    .accordion {
        flex-wrap: wrap;
      }
      .item {
        width: 100vw !important;
        padding: 0px !important;
        position: relative;
        right: 0;
      }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .accordion {
      flex-wrap: wrap;
    }
    .item {
      width: 100%;
      padding: 0px;
      position: relative;
      right: 0;
    }
    .content, .content-show {
        right: 33.333%;
    }
  }

@media (min-width: 1024px) and (max-width: 1439.98px) {
    .item {
        padding: 0;
    }
    .wrapper {
        position: relative;
        right: 7%;
    }
}
