.wrapper{
    display: flex;
}

.accordion{
    display: flex;
    width: 100%;
}

.item{
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 33.33%;
}

.title{
    color: #555150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    right: 0;
    position: relative;
    top: -5%;
    opacity: 0; 
    transition: all 1s;
}


.content-show{
    position: relative;
    top: 0%;
    opacity: 1;
    transition: all 1s;
}

.content p, .content-show p {
    font-size: 1.2rem;
    font-weight: bold;
    color: black; 
  }
