#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  font-size: 60px;
  color: rgb(9, 117, 101);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  right: 47%;
}

#back-to-top-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  #back-to-top-btn {
    font-size: 40px;
    right: 41.5%;
  }
}