#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  font-size: 60px;
  color: rgb(9, 117, 101);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

#back-to-top-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  #back-to-top-btn {
    font-size: 20px;
  }
}