.contact_c {
  background: linear-gradient(rgba(128,128,128,0.5), rgba(128,128,128,0.5)), url('../assets/contact.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.contact_info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 8rem;
 
}

.contact{
  margin-top: 225px;
  width: 250px;
 
}

.contact span{
background-color: #555150;
color: white;
height: 20px;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.person img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  background-color: yellow;
  color:  rgb(9, 117, 101);
  margin-top: 0.8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.contact i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}


#overlay {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  margin-bottom: 20%;
}

.icon-container > img {
  width: 80px;
  height: 80px;
}

.custom_f {
  margin: 2% 0px;
  width: 100%;
}

#myform {
  margin: 20% 0px 10% 0px;
  width: 70%; 
}

#form_title {
  width: 200px;
  position: relative;
  top: 50px;
  margin: 0 auto;
  background-color: #555150;
  border-radius: 10px;
  text-align: center;
  color: yellow;
}

.custom_f > input, .custom_f > textarea, .custom_f > select {
  width: 100%;
  font-size: 18px;
  margin-top: 4px;
  background-color: yellow;
  border: 0px;
  color: #4CAA76;;
  padding: 4px;
  padding-right: 0px;
  font-weight: bold;
}

select {
  border-radius: 5px;
}

.custom_f > input {
  height: 24px;
  border-radius: 10px;
}

.custom_f > textarea {
  height: 72px;
  border-radius: 10px;
}

::placeholder {
  color: green;
  font-weight: bold;
}

.custom_f > label{
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.custom_f > button {
  margin-top: 5%;
  width: 30%;
  padding: 1% 0px;
  font-size: 18px;
  border-radius: 10px;
  background-color: yellow;
  border: 0px;
  color: #555150;
  font-weight: bold;
}
.container-form{
  width: 37%;
}
@media (max-width: 767px) {
  #overlay {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  #myform {
    width: 95%;
  }
  .icon-container > img {
    width: 60px;
    height: 60px;
  }
  .contact_c {
    background-repeat: repeat;
    background-size: 100% 50%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #overlay {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  #myform {
    width: 80%;
  }
  .icon-container{
    margin-bottom: 10%;
  }
}

.icon-container svg{
  cursor: pointer;
  margin-right: 85px;
}


@media (min-width: 1024px) and (max-width: 1439px) {
  #myform {
    width: 90%;
  }
}