/* Estilos base del carrusel */
.footer-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(9, 117, 101);
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 15%;
  margin-right: 20px; /* agregar un margen para separar el logo del carrusel */
}

.logo-wrapper img {
  max-width: 100%;
  height: auto;
}
.carousel-wrapper {
    display:flex;
    position: relative;
    overflow: hidden;
    width: 75%;
  }
  
  .previous{
    background-color: rgb(9, 117, 101);
    height: 50%;
    align-self: center;
  }
  .next{
    background-color: rgb(9, 117, 101);
    height: 50%;
    align-self: center;
    
  }
  
  .carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 23%;
    scroll-snap-align: start;
  }
  
  
  .slide img {
    width: 100%; /* ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* ajusta la altura automáticamente para mantener la proporción */
    cursor: pointer;
  }

  /* Estilos para dispositivos pequeños (hasta 576px) */
  @media (max-width: 576px) {
    .slide {
      margin-right: 0.5rem;
      width: 12%
    }
    .carousel{
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  /* Estilos para dispositivos medianos (hasta 768px) */
  @media (max-width: 768px) {
    .slide {
      margin-right: 1rem;
      display: flex;
      flex-wrap: wrap;
    }
    .carousel{
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  /* Estilos para dispositivos grandes (hasta 992px) */
  @media (max-width: 992px) {
    .slide {
      margin-right: 1.5rem;
    }
    .carousel{
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  /* Estilos para dispositivos extra grandes (a partir de 1200px) */
  @media (min-width: 1200px) {
    .slide {
      margin-right: 2rem;
      display: flex;
    }
  }
  