.carrousel {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin-top: 3%;
}

#mujer {
  position: relative;
  width: 50%;
  height: 86.515vh;
}

.background {
    display: flex;
    background-color: rgb(9, 117, 101);
    padding-top: 3%;
    padding-bottom: 5%;
    z-index: -1;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    width: 25%
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 392px;
    height: 245px;
  }
  
  
  .logo img {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-top: 120px;
  }

  #cat {
    position: relative;
  }
  

  .logo-container button {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    margin-top: 525px;
    background-color: #E0CC0F;
    color: #555150;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    width: 300px;
    height: 60px;
  }

  .text-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18%;
    width: 25%;
    z-index: 2;
  }
  
  .text-container h1 {
    font-size: 48px;
    text-shadow:  2px 0 2px #393838, 0 2px 2px #393838;
    color: #E0CC0F;
    margin-bottom: 8px;
    width: 80%;
  }
  
  .text-container p {
    font-size: 24px;
    width: 290px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  
  .logo-container2 {
    width: 50%;
    border-radius: 20px;
  }
  
  .logo-container2 img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 86.515vh;
  }

  @media (max-width: 767px) {
    .carrousel {
      margin-top: 79.7vh;
    }
    .background {
      flex-wrap: wrap;
      padding-bottom: 33.333%;
    }
    .logo {
      position: absolute;
      width: 100%;
      left: 0;
    }
    .logo img {
      width: 90%;
      margin: 0px;
      margin-top: 30px;
    }
    .logo-container {
      width: 85%;
      margin-top: 302px;
    }
    .text-container {
      width: 90%;
    }
    .logo-container button {
      position: relative;
      margin-top: 240px;
      margin-bottom: 50px;
      font-size: 20px;
      width: 90%;
      height: 32px;
      margin-left: auto;
      margin-right: auto;
    }
    .logo-container2 {
      width: 100%;
    }
    .logo-container2 img {
      width: 100%;
      left: 0;
      top: 0;
    }
    .text-container {
      margin-top: 0px;
      left: 0;
    }
    .text-container > h1, .text-container > p {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
    .text-container h1 {
      font-size: 36px;
    }
    .text-container p {
      font-size: 18px;
      width: 100%;
    }
    .background {
      justify-content: space-around;
    }
    #mujer {
      top: 37px;
      width: 100vw;
      height: 86vh;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .background {
      padding-top: 3%;
    }
    .logo-container {
      width: 25%;
    }
    .logo {
      width: 100%;
    }
    .logo-container button {
      font-size: 20px;
      margin-top: 250px;
      margin-left: 25px;
      width: 160px;
      height: 32px;
    }
    .text-container {
      width: 25%;
    }
    .logo-container2 {
      height: 63.5vh;
    }
    .logo-container2 img {
      height: 63.5vh;
    }
    .text-container h1 {
      font-size: 36px;
    }
    .text-container p {
      font-size: 18px;
      width: 100%;
    }
    #mujer {
      height: 63.5vh;
      width: 50%;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {

    .logo {
      width: 100%;
    }
    .text-container {
      width: 25%;
      right: 25px;
    }
    .text-container h1 {
      font-size: 38px;
      width: 100%;
    }
    .text-container p {
      font-size: 19px;
      width: 100%;
    }
    .logo-container {
      width: 25%;
    }
    .logo-container button {
      font-size: 24px;
      height: 32px;
    }
    .logo-container2 img {
      height: 86.515vh;
    }
    #mujer {
      width: 50%;
    }
  }
  