.background {
    display: flex;
    background-color: rgb(9, 117, 101);
    min-height: 100vh;
    width: 100%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
.logo {
    display: flex;
    align-items: center;
    width: 440px;
  }
  
  
  .logo img {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-top: 50px;
  }
  

  .logo-container button {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #E0CC0F;
    color: black;
    border-radius: 5px;
    width: 300px;
    height: 60px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15%;
  }
  
  .text-container h1 {
    font-size: 54px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: yellow;
  }
  
  .text-container p {
    font-size: 27px;
    width: 290px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    color: white;
  }

  
  .logo-container2 {
    margin: 3% 0px auto;
    width: 73%;
    border-radius: 20px;
  }
  
  .logo-container2 img {
    display: block;
    max-width: 100%;
    height: 680px;
    border-radius: 10px;
  }
  