
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
}

a {
   text-decoration: none;
   color: #fff;
}


li {
   overflow: hidden;
}

p {
   font-size: 16px;
   font-family: Poppins, sans-serif;
}

.container {
   width: 100%;
   margin: 0px auto;
   background-image: url('../assets/arena.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
   background-image: url('../assets/arena.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
} 
 
.white {
    color: #fff !important;
}

.d__flex {
   display: flex;
}

.row {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   overflow: hidden;
   align-items: flex-start;
   justify-content: flex-start;
}

.col__2{
   max-width: 50%;
   display: flex;
   padding: 20px;
   justify-content: center;
   flex-direction: column;
}

.pointer {
   cursor: pointer;
}

svg {
   stroke-width: 1 !important;
   margin-top: 10px;
}

button.btn {
   font-size: 18px;
   font-weight: 500;
   border-radius: 5px;
   border: 2px solid #f9004d;
   background-color: #f9004d;
   color: #fff !important;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: .4s all ease;
   height: 50px;
   width: 180px;
   margin: 0 10px;
}

.p__color {
   color:black;

   font-size: 18px;
   line-height: 30px;
   font-family: Poppins, sans-serif;
   margin-bottom: 15px;
}

button.about.btn.pointer:hover {
   background: #fff;
   color: #000 !important;
}

.service {
   display: flex;
}

#maintenance {
   margin-left: 20%;
   max-width: 75%;
}

@media only screen and (max-width: 768px) {
     .col__2 {
      max-width: 100%;
     }
}
 

 .col__3 {
   max-width: 25%;
   display: flex;
   padding: 20px;
   justify-content: center;
   flex-direction: column;
   margin-top: 20px;
 }

 h1.heading {
   font-size: 60px;
   text-align: center;
   font-weight: 700;
   font-family: Poppins, sans-serif;
   margin-bottom: 10px;
}

p.heading.p__color {
   margin-bottom: 0;
   text-align: center;
   line-height: 1.2;
}

.service__box {
   border-radius: 10px;
   width: 100%;
   background-color: #ECEAC3;
   transition: .4s ease;
}

div#maintenance .service__box {
   display: flex;
}

.service__box:hover {
   transform: translateY(5px);
   background-image: linear-gradient(90deg, #f61b10, #ef0963);
}

.service__box:hover .icon {
   color: #fff;
}

.service__box:hover p.service__text .p__color {
         color: #fff !important;
}

.icon {
   font-size: 54px;
   font-weight: 400;
   margin-bottom: 23px;
   display: inline-flex;
   color: rgb(9, 117, 101);
}

p.service__text.p__color {
   margin-bottom: 0;
}

h1.service__text {
   font-size: 19px;
   font-family: Poppins, sans-serif;
   padding: 10px 0px;
   color: rgb(9, 117, 101);
}



@media only screen and (max-width: 1024px) {
     .service__box {
       padding: 32px;
     }
}





