.waves_c {
    width: 100%;
    position: absolute;
    bottom: -4vh;
    z-index: 1;
}

img.waves {
    width: 100%;
    height: 150px !important;
}

@media (max-width: 359.98px) {
    .waves_c {
        top: 50vh !important;
    }
    img.waves {
        margin-top: 808px !important;
    }
}

@media (max-width: 767.98px) {
    .waves_c {
        position: absolute;
        top: 52vh;
    }

    img.waves {
        margin-top: 778px;
        height: 115px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .waves_c {
        position: absolute;
        top: 29vh;
    }

    img.waves {
        margin-top: 282px;
        height: 120px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1439.98px) {
    .waves_c {
        position: absolute;
        top: 88.5vh;  
    }

    img.waves {
        height: 200px !important;
    }
}